<html>

  <body>
    {% if myuser %}
      <h2>Welcome back {{myuser.key}}</h2>
      <h4> Create Task Board </h4>

      <form action="/" method='post'>
        Title: <input type='text' name='tb_title' required/>
        <input type='submit' value='Create' name='button'>
      </form>

      {% for tb in myuser.task_board %}
        <p><a href="/taskboard">{{tb}}</a></p>
      {% endfor %}
    {% else %}
      <p>Please sign in!</p>
    {% endif %}
    <a class = "task" href = {{url}}>{{url_text}}</a>

  </body>
</html>
